.generator_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  width: 100vw;
  height: 200px;
}

.generator_controler {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}

input {
  max-width: 450px;
  width: 70%;
  padding: 10px;
}

.refresh_container {
  display: flex;
  gap: 4px;
  align-items: flex-end;
  align-self: center;
}

.input_controler {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.copyIcon {
  height: 20px;
  background-position: center;
  background-size: cover;
}
